<%= stylesheet_link_tag "main" %>


<table class="files" > 
  <tr>
<td align="center"> 
					
<table border="0" cellspacing="13" align="center">
<tbody>
<tr>
<td valign="middle">
<embed type="application/x-shockwave-flash" src="http://picasaweb.google.com/s/c/bin/slideshow.swf" width="400" height="329" flashvars="host=picasaweb.google.com&RGB=0x000000&feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fakwerius%2Falbumid%2F5194832434172282321%3Fkind%3Dphoto%26alt%3Drss" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
</td>
<td valign="middle">
<img src="/images/whatwedo.png" alt="WSL" />
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>
<center>
<a class="blue" href="http://be-at-ease.com/vnm/audio/catherine-47thmural-7-13-06.mp3" target="_blank">47th Street Mural</a> &nbsp;&nbsp;&nbsp;
<a class="blue" href="http://be-at-ease.com/vnm/audio/tribute%20-%20mahhalia%20jackson%20-%20section.mp3" target="_blank">Mahalia Jackson Tribute</a>&nbsp;&nbsp;&nbsp;
<a class="blue" href="http://be-at-ease.com/vnm/audio/anthony-interview-7-13-06.mp3" target="_blank">Chicago Youth 4 Change</a>&nbsp;&nbsp;&nbsp;
<a class="blue" href="http://api.ning.com/files/-oGtZr8XT4PHTQ05ROCy4odgLc*OHIuGZBuMuQ18YCZfUe4THxtJ7JiojtggbA*J0jB2i3DSM-uJI2hxlrVPUoFDeFvo*qbt/minoritylife.mp3" target="_blank">Taboo Topics: Minority</a>&nbsp;&nbsp;&nbsp;
<a class="blue" href="http://be-at-ease.com/vnm/audio/mario-teen-violence.mp3" target="_blank">Interview on Teen Violence</a>&nbsp;&nbsp;&nbsp;
</center>


