<%= stylesheet_link_tag "main" %>
<%= javascript_include_tag "http://code.jquery.com/jquery.js" %>
<br>
<table align="center" > 
<tr>
<td align="center">
<font color="white"><h1>New Audio</h1></font>
</td>
</tr>

<tr>
<td align="center">

<font color="white">

<%= render 'form' %>

</font>

</td>
</tr>
</table>